<!--The content below is only a placeholder and can be replaced.-->
<div class=" bod">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <app-search-form></app-search-form>
    </div>
    <div class="col-sm-6 ">
        <div class="card">
          <div class="card-body">
            <img src="https://github.githubassets.com/images/modules/open_graph/github-octocat.png" width="230">
          </div>
        </div>
      </div>
  </div>
  <hr>
<!-- <app-search-form></app-search-form> -->
  <router-outlet></router-outlet>