<div class="row">
    <div class="col-md-4" style="margin-right:2%;">
        <img src="{{user.avatar_url}}"><br>
        <!-- <button type="button" class="btn btn-primary btn-lg">View the profile</button> -->
    </div>
    <div class="col-md-3" style="margin-left:3%;">
        <ul class="list-group">
            <li class="list-group-item">
                <p>Username: {{user.login}}</p>
            </li>
            <li class="list-group-item">
                <p>Name: {{user.name}}</p>
            </li>
            <li class="list-group-item">
                <p>Member since: {{user.created_at|date}}</p>
            </li>
            <li class="list-group-item">
                <p>Followers: {{user.followers}}</p>
            </li>
            <li class="list-group-item">
                <p>Following: {{user.following}}</p>
            </li>
        </ul>
    </div>
    <div class="col-md-4 text-center">
        <h5 class="card-title text-center">Repositories</h5>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <p> {{user.public_repos}} Repos</p>
                    <a href="{{user.html_url}}" target="_blank" class="list-group-item list-group-item-action active">View
                        them in profile</a>
                </li>
            </ul>
        </div>
    </div>
</div>